<link rel="stylesheet" href="styles/header.css">
<nav>
	<menu>
		<li><a href=""><img src="media/01_profile-picture.png"></a></li>
		<li><img src="media/logo_axeleration.svg"></li>
		<li><a href="">A</a></li>
	</menu>
</nav>