<header>
  <nav>
    <menu>
      <li><a href=""><img src="media/01_profile-picture.png" /></a></li>
      <li><img src="media/logo_axeleration.svg" /></li>
      <li><a id="settings-a" href="/settings">A</a></li>
    </menu>
    <li><button class="settings-button">A</button></li>
  </nav>
</header>