{{> header}}

<h1>Home</h1>
<p>Home test</p>

{{#if isDisplayName}}
	<p>My name is {{name}}</p>

	{{else}}
	<p>No name found!!!</p>
{{/if}}

{{#if isAgeEnabled}}
	<p>I am {{age}}</p>

	{{else}}
	<p>No age provided!</p>
{{/if}}

{{> footer}}