<header>
  <nav>
    <menu>
      <li><a href=""><img src="media/01_profile-picture.png" /></a></li>
      <li><img src="media/logo_axeleration.svg" /></li>
      <li><a class="settings-button" href="/">B</a></li>
    </menu>
  </nav>
</header>

<form method="POST" action="/inloggen">
  <p>Voertuig:</p>
  <div>
    <input type="radio" id="auto" name="vehicle" value="auto"/>
    <label for="auto">Auto</label>
  </div>
  <div>
    <input type="radio" id="motor" name="vehicle" value="motor"/>
    <label for="motor">Motor</label>
  </div>
  <div>
    <input type="radio" id="scooter" name="vehicle" value="scooter"/>
    <label for="scooter">Scooter</label>
  </div>

  <p>Geslacht:</p>
    <div>

      <div>
        <input type="radio" id="man" name="gender" value="man"/>
        <label for="man">Man</label>
      </div>
    <div>
    <input type="radio" id="vrouw" name="gender" value="vrouw"/>
    <label for="vrouw">Vrouw</label>
  </div>

    <input type="submit" value="Opslaan"/>
</form>